Repository serhanguney/slovi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,css,html}": ["prettier --write"]
}

add agents and skills
  .claude/agents/data-auditor.md
  .claude/agents/n8n-debugger.md
  .claude/agents/schema-validator.md
  .claude/settings.local.json
  .claude/skills/czech-morphology.skill
  .claude/skills/n8n-claude-integration.skill
  .claude/skills/supabase-schema.skill
Due: prettier --write

update schema
  src/supabase/schema.ts
Due: eslint --fix, prettier --write

add root word note to the ui
  src/components/dictionary/DictionaryAutocomplete.tsx
  src/components/dictionary/WordDetail.tsx
  src/hooks/useDictionarySearch.ts
  src/hooks/useWordDetails.ts
  src/supabase/schema.ts
Due: eslint --fix, prettier --write

create the practice module readme
  docs/PRACTICE.md
Due: prettier --write

update theme
  src/index.css
Due: prettier --write

implement new designs for word detail
  public/apple-touch-icon.png
  public/favicon-96x96.png
  public/favicon.ico
  public/favicon.svg
  public/web-app-manifest-192x192.png
  public/web-app-manifest-512x512.png
  src/assets/logo.svg
  src/assets/logo.tsx
  src/assets/logo_colored.svg
  src/components/dictionary/WordDetail.tsx
  src/components/ui/expandable-section.tsx
  src/components/ui/word-form-row.tsx
  src/pages/HomePage.tsx
Due: eslint --fix, prettier --write

implement sidebar for desktop and handle logos and facivons
  index.html
  public/site.webmanifest
  public/vite.svg
  slovi.pen
  src/assets/react.svg
  src/components/layout/BottomNav.tsx
  src/components/layout/Sidebar.tsx
  src/components/layout/nav.types.ts
  src/index.css
  src/pages/HomePage.tsx
Due: eslint --fix, prettier --write

improve autocomplete ux
  docs/PRACTICE.md
  slovi.pen
  src/components/dictionary/DictionaryAutocomplete.tsx
  src/pages/HomePage.tsx
Due: eslint --fix, prettier --write

fix svg icon imports
  src/assets/logo.tsx
Due: eslint --fix, prettier --write

improve practice plan
  docs/PRACTICE.md
Due: prettier --write

add ideas to practice plan
  docs/PRACTICE.md
Due: prettier --write

finish preparations in doc
  docs/PRACTICE.md
Due: prettier --write

fix homepage and add logout to mobile
  src/components/layout/BottomNav.tsx
  src/components/layout/Sidebar.tsx
  src/components/layout/nav.types.ts
  src/pages/HomePage.tsx
Due: eslint --fix, prettier --write

prepare readme for practice module implementation
  docs/PRACTICE.md
Due: prettier --write

create a pencil dir
  pencil/slovi.pen
Due: none

finalise preparations and write migrations
  .gitignore
  docs/MIGRATION.md
  docs/PRACTICE.md
  src/supabase/schema.ts
  supabase/README.md
  supabase/migrations/20260306_practice_rpc.sql
Due: eslint --fix, prettier --write

rename components to features
  components.json
  src/App.tsx
  src/components/ui/word-form-row.tsx
  src/features/dictionary/DictionaryAutocomplete.tsx
  src/features/dictionary/WordDetail.tsx
  src/features/dictionary/hooks/useDictionarySearch.ts
  src/features/dictionary/hooks/useWordDetails.ts
  src/features/layout/BottomNav.tsx
  src/features/layout/Sidebar.tsx
  src/features/layout/nav.types.ts
  src/features/routes/ProtectedRoute.tsx
  src/features/routes/PublicRoute.tsx
  src/features/ui/button.tsx
  src/features/ui/card.tsx
  src/features/ui/combobox.tsx
  src/features/ui/expandable-section.tsx
  src/features/ui/input-group.tsx
  src/features/ui/input.tsx
  src/features/ui/label.tsx
  src/features/ui/textarea.tsx
  src/pages/HomePage.tsx
  src/pages/LoginPage.tsx
  src/pages/SignupPage.tsx
Due: eslint --fix, prettier --write

implement practice setup
  package.json
  pencil/slovi.pen
  pnpm-lock.yaml
  src/App.tsx
  src/features/layout/AppShell.tsx
  src/features/layout/BottomNav.tsx
  src/features/layout/Sidebar.tsx
  src/features/layout/nav.types.ts
  src/features/practice/components/PracticeNav.tsx
  src/features/practice/components/PracticeSetup.tsx
  src/features/practice/hooks/useBuildDustySession.ts
  src/features/practice/hooks/useBuildPracticeSession.ts
  src/features/practice/hooks/useBuildVocabularySession.ts
  src/features/practice/hooks/useKnownWords.ts
  src/features/practice/hooks/usePracticeBoxCount.ts
  src/features/practice/hooks/usePracticeProgress.ts
  src/features/practice/hooks/useRecordPracticeAnswer.ts
  src/features/practice/types.ts
  src/features/ui/secondary-nav.tsx
  src/features/ui/word-form-row.tsx
  src/pages/HomePage.tsx
  src/pages/PracticePage.tsx
  src/supabase/schema.ts
Due: eslint --fix, prettier --write

implement practice cases
  CLAUDE.md
  pencil/slovi.pen
  src/App.tsx
  src/features/practice/components/SessionScreen.tsx
  src/features/practice/hooks/useRecordPracticeAnswer.ts
  src/pages/SessionPage.tsx
  src/supabase/schema.ts
  supabase/migrations/20260306_practice_rpc.sql
Due: eslint --fix, prettier --write

implement practice actions
  pencil/slovi.pen
  src/features/practice/components/BlockWordSheet.tsx
  src/features/practice/components/BottomSheet.tsx
  src/features/practice/components/SessionScreen.tsx
  src/supabase/schema.ts
  supabase/migrations/20260306_practice_rpc.sql
Due: eslint --fix, prettier --write

implement block action
  src/features/practice/components/BottomSheet.tsx
  src/features/practice/components/SessionScreen.tsx
  src/features/practice/hooks/useBlockWord.ts
Due: eslint --fix, prettier --write

update types
  src/supabase/schema.ts
Due: eslint --fix, prettier --write

implement word type selection on practice mode
  pencil/slovi.pen
  src/features/practice/components/PracticeSetup.tsx
  src/features/practice/hooks/useBuildPracticeSession.ts
  src/features/practice/types.ts
  src/supabase/schema.ts
Due: eslint --fix, prettier --write

implement desktop compatible practice ui
  src/features/practice/components/PracticeSetup.tsx
  src/features/practice/components/SessionScreen.tsx
Due: eslint --fix, prettier --write

change explore to dictionary
  src/features/dictionary/DictionaryAutocomplete.tsx
  src/features/layout/AppShell.tsx
  src/features/layout/BottomNav.tsx
  src/features/layout/Sidebar.tsx
  src/features/layout/nav.types.ts
  src/pages/HomePage.tsx
Due: eslint --fix, prettier --write

implement practice words
  pencil/slovi.pen
  src/features/practice/components/BlockWordSheet.tsx
  src/features/practice/components/PracticedWordCard.tsx
  src/features/practice/components/WordsInfoSheet.tsx
  src/features/practice/components/WordsTab.tsx
  src/features/practice/hooks/usePracticedWords.ts
  src/features/practice/types.ts
  src/features/ui/bottom-sheet.tsx
  src/features/ui/centered-dialog.tsx
  src/features/ui/use-media-query.ts
  src/pages/PracticePage.tsx
  src/supabase/schema.ts
Due: eslint --fix, prettier --write

improve the nav ux of practice
  src/features/layout/AppShell.tsx
  src/features/practice/components/PracticeSetup.tsx
  src/pages/PracticePage.tsx
Due: eslint --fix, prettier --write

implement simple vocabulary
  .prettierrc.json
  src/features/practice/components/ActionRowsContainer.tsx
  src/features/practice/components/PracticeSetup.tsx
  src/features/practice/components/SessionQuestion.tsx
  src/features/practice/components/SessionScreen.tsx
  src/features/practice/components/SessionWrapper.tsx
  src/features/practice/components/VocabularySessionScreen.tsx
  src/pages/SessionPage.tsx
  src/supabase/schema.ts
Due: eslint --fix, prettier --write

add vercel rewrites
  vercel.json
Due: prettier --write

implement form recall
  pencil/slovi.pen
  src/components/WarningTooltip.tsx
  src/features/practice/components/ActionRowsContainer.tsx
  src/features/practice/components/PracticeSetup.tsx
  src/features/practice/components/SessionQuestion.tsx
  src/features/practice/components/SessionScreen.tsx
  src/features/practice/hooks/useFormRecallEligibleCount.ts
  src/features/ui/secondary-nav.tsx
  src/pages/PracticePage.tsx
  src/supabase/schema.ts
Due: eslint --fix, prettier --write

implement progres page
  pencil/slovi.pen
  src/features/practice/components/ProgressTab.tsx
  src/pages/PracticePage.tsx
Due: eslint --fix, prettier --write

implement case_study mode
  .gitignore
  docs/CASE_STUDY.md
  package.json
  pencil/slovi.pen
  src/App.tsx
  src/features/dictionary/WordDetail.tsx
  src/features/practice/components/CaseStudySessionScreen.tsx
  src/features/practice/hooks/useBuildCaseStudySession.ts
  src/features/practice/types.ts
  src/pages/HomePage.tsx
  src/pages/SessionPage.tsx
  src/pages/WordDetailPage.tsx
  src/supabase/schema.ts
Due: eslint --fix, prettier --write

update known words
  index.html
  src/features/dictionary/WordDetail.tsx
  src/features/practice/components/AddMissingPronounsButton.tsx
  src/features/practice/components/PracticeSetup.tsx
  src/features/practice/components/PracticedWordCard.tsx
  src/features/practice/components/ProgressTab.tsx
  src/features/practice/components/WordsInfoSheet.tsx
  src/features/practice/components/WordsTab.tsx
  src/features/practice/hooks/useAddMissingPronouns.ts
  src/features/practice/hooks/useAddToPracticeBox.ts
  src/features/practice/hooks/useMissingPronouns.ts
  src/features/practice/hooks/usePracticedWords.ts
  src/features/practice/types.ts
  src/pages/WordDetailPage.tsx
  src/supabase/schema.ts
Due: eslint --fix, prettier --write

tailwind theme improvements and ui updates
  CLAUDE.md
  index.html
  src/features/dictionary/DictionaryAutocomplete.tsx
  src/features/dictionary/WordDetail.tsx
  src/features/dictionary/hooks/useGetRootWords.ts
  src/features/layout/Sidebar.tsx
  src/features/practice/components/BlockWordSheet.tsx
  src/features/practice/components/CaseStudySessionScreen.tsx
  src/features/practice/components/PracticeSetup.tsx
  src/features/practice/components/PracticedWordCard.tsx
  src/features/practice/components/ProgressTab.tsx
  src/features/practice/components/SessionQuestion.tsx
  src/features/practice/components/SessionScreen.tsx
  src/features/practice/components/VocabularySessionScreen.tsx
  src/features/practice/components/WordsInfoSheet.tsx
  src/features/practice/components/WordsTab.tsx
  src/index.css
  src/pages/HomePage.tsx
Due: eslint --fix, prettier --write

move case study into its own route
  .claude/agents/data-auditor.md
  .claude/agents/n8n-debugger.md
  .claude/agents/schema-validator.md
  .claude/skills/czech-morphology.skill
  .claude/skills/n8n-claude-integration.skill
  .claude/skills/supabase-schema.skill
  src/App.tsx
  src/features/dictionary/WordDetail.tsx
  src/features/practice/hooks/useBuildCaseStudySession.ts
  src/pages/CaseStudyPage.tsx
Due: eslint --fix, prettier --write

improve word detail page
  .claude/commands/quiz-session-builder.md
  pencil/Screenshot 2026-04-02 at 7.03.46.png
  pencil/slovi.pen
  src/features/dictionary/CaseWordDetail.tsx
  src/features/dictionary/WordDetail.tsx
  src/features/dictionary/hooks/useWordDetails.ts
  src/pages/WordDetailPage.tsx
Due: eslint --fix, prettier --write

remove unused improts
  src/features/dictionary/CaseWordDetail.tsx
Due: eslint --fix, prettier --write

correct gitignore for supabase
  .gitignore
  package.json
  src/supabase/types.ts
  supabase/README.md
  supabase/migrations/20260306_practice_rpc.sql
Due: eslint --fix, prettier --write
